{% extends 'view/base.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}
{% block 'title' %} 
<title>Covid Sahay | About Us</title>
{% endblock 'title' %}
{% block 'content' %} 
<section id="inner-banner">
<div class="overlay">
<div class="container">
<div class="row"> 
<div class="col-sm-6"><h1>ABOUT US</h1></div>
<div class="col-sm-6">
  <h6 class="breadcrumb"><a href="{% url 'index' %}">Home</a> / About us</h6></div>
</div>
</div>
</div>
</section>

<section id="about-sec">
<div class="container">
<div class="row text-center">
<h1>ABOUT COVID SAHAY</h1>
<hr>
<h5>Our Team Is Working Hard Day By Day For Needy People.</h5>
<div align="justify">
    <p>We Are Working As a Free Organzation For Needy People.People Can Help Each Other By This Our Initiative.And Also People Can Donate Medical Resources Like Injection,Oxygen,Medicine Etc.People Can Easily Get In Touch With People Who Need This Resources Immediately</p>
    <p>Second Wave Of Covid Hit The People Of World Very Badly So,That We Can Have Created This Initiative For The Middleclass People As Well As Lower Class People So That They Can Get Easily Help.Now a Days People Have Everything But They Have No Medium To Connect So That There Are Many People Lost Their Life In Second Wave.</p>    
    <p>Nowadays, We Can See That Covid Is Spreading And People Are Becoming Its Victim. In Which, Many Poor Or Medium Class People Can't Afford The Expensive Medicines, Oxygen Supplies, Oxygen Beds Etc.So In Our System, Providing Free Medicines, Oxygen Supplies, Hospital Beds, Blood, Plasma Etc. From The People Who Like To Donate Or Help Others.Our System Provide Facility To Connect People With Each Other And Help Each Other.</p>
    <p>Our Main Motto Is That, In The Current Circumstances, We Can See That People Can Not Afford Expensive Medical Resources. So Our System Allows Those Needy Person To Connect With People Who Are Interested In Helping Others So They Can Get Help Easily.</p>
</div>
</div>
</div>
</section>

<section id="help">
<div class="container">
<div class="row text-center">
<h1>WAYS TO HELP</h1>
<hr>
<h5>Providing The Some Importance of Save Life.</h5>
	<div class="text-left">
	<div class="col-md-6 clearfix top-off">
	<div class="icon_circle"><i class="fa fa-heart"></i></div>
	<div class="help-text"><h4>Take Request From People</h4>
	<div class="line line-50"></div><p>We Make The Relation between People's To Help Each Others.</p>
	</div>
	</div>
	
	<div class="text-left">
	<div class="col-md-6 clearfix top-off">
	<div class="icon_circle"><i class="fas fa-briefcase-medical"></i></div>
	<div class="help-text"><h4>Donate Medical Resources</h4>
	<div class="line line-50"></div><p>Improving The Health Of The Community , The Resources Are Very Importance So Do Not Waste Resources</p>
	</div>
	</div>

	<div class="text-left">
	<div class="col-md-6 clearfix top-off">
	<div class="icon_circle"><i class="fa fa-tint"></i></div>
	<div class="help-text"><h4>TDonate Blood</h4>
	<div class="line line-50"></div><p>Bring A Life Back To Power. Make Blood Donation Your Responsibility</p>
	</div>
	</div>

	<div class="text-left">
	<div class="col-md-6 clearfix top-off">
	<div class="icon_circle"><i class="fa fa-thumbs-up"></i></div>
	<div class="help-text"><h4>Donate Plasma</h4>
	<div class="line line-50"></div><p>Help Save A Life , Give The Gift Of Plasmaw</p>
	</div>
	</div>
</div>
</div>
</div>
</div>
</section>

<section id="team">
<div class="container">
<div class="row text-center">
<h1>MEET OUR TEAM</h1>
<hr>
<!--<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>-->
<div class="row">
	<div class="col-xl-4 col-md-4 col-sm-12">
		<div class="member">
			<div class="inner">
				<div class="avatar-inner">
					<img src="{{STATFILE}}images/team1.jpg">
				</div>
				<div class="info">
					<div class="name"><a href="#"> Kashyap Kalathiya </a></div>
					<div class="regency">Volunteer</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-md-4 col-sm-12">
		<div class="member">
			<div class="inner">
				<div class="avatar-inner">
					<img src="{{STATFILE}}images/team2.jpg">
				</div>
				<div class="info">
					<div class="name"><a href="#"> Dharmik Nakrani </a></div>
					<div class="regency">Volunteer</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-md-4 col-sm-12">
		<div class="member">
			<div class="inner">
				<div class="avatar-inner">
					<img src="{{STATFILE}}images/team3.jpg">
				</div>
				<div class="info">
					<div class="name"><a href="#"> Jay Lodhiya </a></div>
					<div class="regency">Volunteer</div>
				</div>
			</div>
		</div>
	</div>
</div>	
</div>
</div>
</section>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock 'content' %}
