{% extends 'view/base.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}
{% block 'title' %} 
<title>Covid Sahay | Activities</title>
{% endblock 'title' %}
{% block 'content' %}
<section id="inner-banner">
<div class="overlay">
<div class="container">
<div class="row">
<div class="col-sm-6"><h1>ACTIVITIES</h1></div>
<!-- <div class="col-sm-6"><input type="text" id="searchReq" onkeyup="myFunction()" placeholder="Search for Request.."></div> -->
<div class="col-sm-6"><h6 class="breadcrumb"><a href="{% url 'index' %}">Home</a> / Activities</h6></div>
</div>
</div>
</div>
</section>

<div class="callout">
<div class="container">
	<div class="row">
		<div class="col-md-6 col-xl-6">
			<h2>Change Their World And Change Yours. This changes everything.</h2>
		</div>
		<div class="col-md-6 col-xl-6">
			<div class="callout-actions">
				{% if uId == 'Null' %}
						<a href="" id="dmsg1" class="button dmsg1" >donate now</a>
                    {% else  %}
                        <a href="{% url 'request' %}" class="button">Request Now</a>
                    {% endif %}
				<span class="callout-separator">
					<span>Or</span>
				</span>
				<a href="{% url 'activities' %}" class="button">Donate Now</a>
			</div>
		</div>
	</div>		
</div>
</div>
<div class="container search">
	<div class="row">
		<form id="search" action="" method="POST">
			{% csrf_token %}
			<div class="col-md-10 col-xl-6">
				<input type="hidden" name="allsearch" id="data">
				<select id="whatFor" class="selectpicker show-menu-arrow form-control" name="whatFor" multiple data-live-search="true" title="Select Your Choices..">
					<optgroup label="WhatFor">
						{% for a in opwhat %}
						<option value="{{a}}">{{a}}</option>
						{% endfor %}
					</optgroup>
					<optgroup label="City">
						{% for a in city %}
						<option value="{{a}}">{{a}}</option>
						{% endfor %}
					</optgroup>
					<optgroup label="State">
						{% for a in state %}
						<option value="{{a}}">{{a}}</option>
						{% endfor %}
					</optgroup>
					<optgroup label="Area">
						{% for a in area %}
						<option value="{{a}}">{{a}}</option>
						{% endfor %}
					</optgroup>
				</select>
			</div>
			<!-- <div class="col-md-5 col-xl-6">
				<select name="city" class="form-control" id="city">
					<option value="">Select City....</option>
					{% for a in city %}
					<option value="{{a}}">{{a}}</option>
					{% endfor %}
				</select>			</div> -->
			<div class="col-md-2 col-xl-6">
				<input type="button" onclick="try1()" class="btn btn-info" value="Search">
			</div>
		</form>

	</div>
</div>
<section id="about-sec">
<div class="container">
<div class="row text-left">
{% for i in req %}
	{% if i.user.id != uId %}
	<div class="act-box">
		<div class="col-md-4 act-post">
		{% if i.whatFor == 'Remdesivir' %}
			<div class="image"><img src="{{STATFILE}}images/remdesivir.jpeg"></div>
		{% elif i.whatFor == 'Fabiflu' %}
			<div class="image"><img src="{{STATFILE}}images/fabiflu.jpeg"></div>
		{% elif i.whatFor == 'Tocilizumab' %}
			<div class="image"><img src="{{STATFILE}}images/tocilizumab.jpeg"></div>
		{% elif i.whatFor == 'Favipiravir' %}
			<div class="image"><img src="{{STATFILE}}images/favipiravir.jpeg"></div>
		{% elif i.whatFor == 'Dexamethasone' %}
			<div class="image"><img src="{{STATFILE}}images/dexamethasone.jpeg"></div>
		{% elif i.whatFor == 'Ivermectin' %}
			<div class="image"><img src="{{STATFILE}}images/ivermectin.jpeg"></div>
		{% elif i.whatFor == 'Vitamin C' %}
			<div class="image"><img src="{{STATFILE}}images/vitaminc.jpeg"></div>
		{% elif i.whatFor == 'Zinc Sulphate' %}
			<div class="image"><img src="{{STATFILE}}images/zincsulphate.jpeg"></div>
		{% elif i.whatFor == 'Oxygen Cylinder' %}
			<div class="image"><img src="{{STATFILE}}images/oxygencylinder.jpeg"></div>
		{% elif i.whatFor == 'Oxygen Regulator' %}
			<div class="image"><img src="{{STATFILE}}images/oxygenregulator.jpeg"></div>
		{% elif i.whatFor == 'Oximeter' %}
			<div class="image"><img src="{{STATFILE}}images/oximeter.jpeg"></div>
		{% elif i.whatFor == 'Oxygen Concentrator' %}
			<div class="image"><img src="{{STATFILE}}images/oxygenconcentrator.jpeg"></div>
		{% elif i.whatFor == 'Oxygen Beds' %}
			<div class="image"><img src="{{STATFILE}}images/oxygenbeds.jpeg"></div>
		{% elif i.whatFor == 'ICU Beds' %}
			<div class="image"><img src="{{STATFILE}}images/icubeds.jpeg"></div>
		{% elif i.whatFor == 'Ventilator' %}
			<div class="image"><img src="{{STATFILE}}images/ventilator.jpeg"></div>
		{% elif i.whatFor == 'Home Ventilator' %}
			<div class="image"><img src="{{STATFILE}}images/homeventilator.jpeg"></div>
		{% elif i.whatFor == 'Plasma' %}
			<div class="image"><img src="{{STATFILE}}images/plasma.jpeg"></div>
		{% elif i.whatFor == 'Blood' %}
			<div class="image"><img src="{{STATFILE}}images/blood.jpeg"></div>
		{% else %}
			<div class="image"><img src="{{STATFILE}}images/others.png"></div>
		{% endif %}

		<div class="act-pad">
		<h5>Need {{ i.whatFor }}<br> (Quantity : {{i.quantity}})</h5>
		<p id="decs">My name is {{ i.name | title}}. I am from {{ i.user.city }}.</p>
			{% if uId == 'Null' %}
				<button id="dmsg" class="btn1 dmsg" >donate now</button>
			{% else  %}
				<a href="" id="modal" class="btn1 modal-link" data-toggle="modal" data-target="#exampleModalLong" data-name="{{ i.name | title}}" data-rid="{{ i.id }}" data-adhar="{{ i.adharcard }}" data-pres="{{ i.prescription }}" data-whatfor="{{ i.whatFor }}" data-quantity="{{ i.quantity }}" data-date="{{ i.date }}" data-mono="{{ i.user.mono }}" data-gender="{{ i.user.gender }}" data-dob="{{ i.user.dob }}" data-bgrp="{{ i.user.bGrp }}" data-email="{{ i.user.email }}" data-add="{{ i.user.add | title }}" data-area="{{ i.user.area | title }}" data-city="{{ i.user.city }}" data-state="{{ i.user.state }}">donate now</a>
			{% endif %}
		<div class="clearfix"></div>
		</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
</div>
</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top:15%;margin-bottom:5%">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="margin-left: 4%; color:red;" class="modal-title" id="exampleModalLongTitle">REQUEST DETAILS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-4%">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <style>
			  h5{
			  	line-height: 200%;
			  	margin-left: 4%;
			  }
			  span{
			  	font-weight:normal
			  }
			  .space{
				margin-left:1%;
			  }
		  </style>
		  <h5>WHAT HE NEED : <span id="r-whatfor"></span><span class="space">(Quantity : <span id="r-quantity"></span>)</span></h5>
		  <h5>WHEN HE REQUEST : <span id="r-date"></span></h5>
		  <h5>NAME : <span id="r-name" style="margin-right:7%;"></span> GENDER : <span id="r-gender"></span></h5>
		  <h5>DATE OF BIRTH : <span id="r-dob"></span></h5>
		  <h5>BLOOD GROUP : <span id="r-bgrp"></span></h5>
		  <h5>MOBILE NUMBER : <a href="tel:7201095700" id="r-mono"></a></h5>
		  <h5>EMAIL ID : <a href="mailto:dangarmanhar@gmail.com?subject = 'Help From Covid Sahay'" id="r-email"></a></h5>
		  <h5>ADDRESS : <span id="r-add"></span>,<span class="space" id="r-area"></span>,<span class="space" id="r-city"></span>,<span class="space" id="r-state"></span></h5><br>
		  <h5>ADHARCARD : <img style="margin-left:2.8%;" id="r-adhar" class="img-zoom" src="" height="200" width="300"/></h5><br>
		  <h5>PRESCRIPTION : <img id="r-pres" class="img-zoom" src="" height="200" width="300"/></h5>

<!--		  <h5>ADHARCARD : <a href={{STATFILE}}images/plasma.jpeg id="r-adhar"></a></h5>-->
<!--		  <h5>PRESCRIPTION : <a href="" id="r-pres"></a></h5>-->
	 </div>

    <div class="modal-footer">
	<form action="" method="post" >
		{% csrf_token %}
		<input type="hidden" name="rId" id="r-rid" value="">
		<button type="submit" name="req" class="btn btn-primary" style="background: #2f3191">Donate</button>
	</form>
<!--	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->

      </div>
    </div>
  </div>
</div>
<script>
  $('.modal-link').click(function(){
    $('#r-whatfor').html($(this).data('whatfor'));
    $('#r-quantity').html($(this).data('quantity'));
    $('#r-date').html($(this).data('date'));

    $('#r-name').html($(this).data('name'));
    $('#r-gender').html($(this).data('gender'));
    $('#r-dob').html($(this).data('dob'));
    $('#r-bgrp').html($(this).data('bgrp'));

    $('#r-mono').html($(this).data('mono'));
    $('#r-email').html($(this).data('email'));

    $('#r-add').html($(this).data('add'));
    $('#r-area').html($(this).data('area'));
    $('#r-city').html($(this).data('city'));
    $('#r-state').html($(this).data('state'));
<!--	$('#r-adhar').html($(this).data('adhar'));-->
<!--    $('#r-pres').html($(this).data('pres'));-->
    var id = $(this).data('rid');
    $('#r-rid').val(id);
    var path = 'http://127.0.0.1:8000/';
    var adharUrl = $(this).data('adhar');
    var presUrl = $(this).data('pres');
    var finalAdharPath = path.concat(adharUrl);
    var finalPresPath = path.concat(presUrl);
    console.log(finalAdharPath);
    console.log(finalPresPath);
	$("#r-adhar").attr('src',finalAdharPath);
    $("#r-pres").attr('src',finalPresPath);
});
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for msg in messages %}
        swal('{{msg}}', "Now They will contact you..!!" ,'{{msg.tags}}')
    {% endfor %}
</script>
{% endblock 'content' %}
{% block 'request' %}{% endblock 'request' %}
{% block 'extrajs' %}
<script type="text/javascript">
function try1()
{
	var selected = [];
    for (var option of document.getElementById('whatFor').options)
    {
        if (option.selected) {
            selected.push(option.value);
        }
    }
	document.getElementById('data').value=selected;
    document.getElementById('search').submit();
}
$(document).ready(function(){
	var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
	removeItemButton: true,
	maxItemCount:10,
	searchResultLimit:5,
	renderChoiceLimit:5
	});
});
</script>
<script>
$(document).ready(function(){
  $(".dmsg1").click(function(){
  	swal({
	  title: "You Have to Login first",
	  text: "Click Ok Button to Login..!!",
	  icon: "warning",
	  buttons: true,
	  dangerMode: true,
	})
	.then((login) => {
	  if (login) {
		window.location = "{% url 'login' %}";
	  } else {
	  }
	});
  });
});
</script>
{% endblock 'extrajs' %}