{% extends 'view/base.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}
{% block 'title' %} 
<title>Covid Sahay | Activities</title>
{% endblock 'title' %}
{% block 'content' %}
<section id="inner-banner">
<div class="overlay">
<div class="container">
<div class="row">
<div class="col-sm-6"><h1>ACTIVITIES</h1></div>
<!-- <div class="col-sm-6"><input type="text" id="searchReq" onkeyup="myFunction()" placeholder="Search for Request.."></div> -->
<div class="col-sm-6"><h6 class="breadcrumb"><a href="{% url 'index' %}">Home</a> / Activities</h6></div>
</div>
</div>
</div>
</section>

<div class="callout">
<div class="container">
	<div class="row">
		<div class="col-md-6 col-xl-6">
			<h2>Change Their World And Change Yours. This changes everything.</h2>
		</div>
		<div class="col-md-6 col-xl-6">
			<div class="callout-actions">
				{% if uId == 'Null' %}
                        <a href="" class="button">Request Now</a>
                        <script>
                        swal("Something Wrong!!", 'sd', 'warning')
                        </script>
                    {% else  %}
                        <a href="{% url 'request' %}" class="button">Request Now</a>
                    {% endif %}
				<span class="callout-separator">
					<span>Or</span>
				</span>
				<a href="{% url 'activities' %}" class="button">Donate Now</a>
			</div>
		</div>
	</div>		
</div>
</div>
<div class="container search">
	<div class="row">
		<form id="search" action="" method="POST">
			{% csrf_token %}
			<div class="col-md-10 col-xl-6">
				<input type="hidden" name="allsearch" id="data">
				<select id="whatFor" class="selectpicker show-menu-arrow form-control" name="whatFor" multiple data-live-search="true" title="Select Your Choices..">
					<optgroup label="WhatFor">
						{% for a in opwhat %}
						<option value="{{a}}">{{a}}</option>
						{% endfor %}
					</optgroup>
					<optgroup label="City">
						{% for a in city %}
						<option value="{{a}}">{{a}}</option>
						{% endfor %}
					</optgroup>
					<optgroup label="State">
						{% for a in state %}
						<option value="{{a}}">{{a}}</option>
						{% endfor %}
					</optgroup>
					<optgroup label="Area">
						{% for a in area %}
						<option value="{{a}}">{{a}}</option>
						{% endfor %}
					</optgroup>
				</select>
			</div>
			<!-- <div class="col-md-5 col-xl-6">
				<select name="city" class="form-control" id="city">
					<option value="">Select City....</option>
					{% for a in city %}
					<option value="{{a}}">{{a}}</option>
					{% endfor %}
				</select>			</div> -->
			<div class="col-md-2 col-xl-6">
				<input type="button" onclick="try1()" class="btn btn-info" value="Search">
			</div>
		</form>

	</div>
</div>
<section id="about-sec">
<div class="container">
<div class="row text-left">
{% for i in req %}
	<div class="act-box">
		<div class="col-md-4 act-post">
		<div class="image"><img src="{{ i.adharcard.url }}"></div>
		<div class="act-pad">
		<h5>Need {{ i.whatFor }}<br> (Quantity : {{i.quantity}})</h5>
		<p id="decs">My name is {{ i.name }}. I am from {{ i.user.city }}.</p>
<!--		<a href="" class="btn1" data-toggle="modal" data-id="{{ i.id }}" id="donate" data-target="#exampleModalLong">donate now</a>-->
			<a href="" class="btn1 modal-link" data-toggle="modal" data-target="#exampleModalLong" data-whatFor="{{ i.whatFor }}" data-name="{{ i.name }}">donate now</a>
		<div class="clearfix"></div>
		</div>
		</div>
	</div>
{% endfor %}
</div>
</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top:15%;margin-bottom:5%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">REQUEST DETAILS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-4%">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
			<p id="i-name"></p>
		  <p id="i-whatFor"></p>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary">Donate</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
<script>
  $('.modal-link').click(function(){
    $('#i-name').html($(this).data('name'));
    $('#i-whatFor').html($(this).data('whatFor'));
});
</script>

{% endblock 'content' %}
{% block 'request' %}{% endblock 'request' %}