{% extends 'view/base.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}
{% block 'title' %} 
<title>Covid Sahay | My Details</title>
{% endblock 'title' %}
{% block 'content' %}
<section id="inner-banner">
<div class="overlay">
<div class="container">
<div class="row">
<div class="col-sm-6"><h1>CHANGE PASSWORD</h1></div>
<div class="col-sm-6"><h6 class="breadcrumb"><a href="{% url 'index' %}">Home</a> / Change Password</h6></div>
</div>
</div>
</div>
</section>

<div id="users">
    <div class="container">
        <div class="row mydetails">
            {% for all in user %}
            <form method="post" action="" class="col-md-12">
                {% csrf_token %}
                <div class="form-group col-md-12">
                    <label for="">Old Password:</label>
                    <input type="text" class="form-text" placeholder="First Name*" name="fName" value="{{all.pwd | upper}}" readonly />
                </div>
                <div class="form-group col-md-12">
                    <label for="">New Password:</label>
                    <input type="text" class="form-text" placeholder="Last Name*" name="lName" value="{{all.lName | upper}}" readonly/>
                </div>
                <div class="form-group col-md-12">
                    <label for="">Confrom Password:</label>
                    <input type="text" class="form-text" placeholder="Mobile number*" name="mono" value="{{all.mono}}"/>
                </div>
                <div class="form-group col-md-3">
                    <input type="hidden" class="form-text" placeholder="" name="pwd" value="{{all.pwd}}" />
                </div>
                <div class="form-group col-md-6">
                     <input type="submit" class="btnRegister"  value="Change Password"/>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock 'content' %}

{% block 'request' %}{% endblock 'request' %}

{% block 'extrajs' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for msg in messages %}
        swal("Yupp!!", '{{msg}}', '{{msg.tags}}')
    {% endfor %}
</script>
{% endblock 'extrajs' %}

