{% extends 'view/base.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}
{% block 'title' %} 
<title>Covid Sahay | My Details</title>
{% endblock 'title' %}
{% block 'content' %}
<section id="inner-banner">
<div class="overlay">
<div class="container">
<div class="row">
<div class="col-sm-6"><h1>CHANGE PASSWORD</h1></div>
<div class="col-sm-6"><h6 class="breadcrumb"><a href="{% url 'index' %}">Home</a> / Change Password</h6></div>
</div>
</div>
</div>
</section>

<div id="users">
    <div class="container">
        <div class="row mydetails">
            {% for all in user %}
            <form method="post" action="" class="col-md-12">
                {% csrf_token %}
                <div class="form-group col-md-12">
                    <label for="">Old Password:</label>
                    <input type="hidden" class="form-text" placeholder="" id="opwd" name="opwd" value="{{all.pwd}}" />
                    <input type="password" class="form-text" id="old" placeholder="Old Password*" onchange="checkold()" name="old" value="" />
                </div>
                <div class="form-group col-md-12">
                    <label for="">New Password:</label>
                    <input type="password" class="form-text" placeholder="New Password*" id="new" name="new" value=""/>
                </div>
                <div class="form-group col-md-12">
                    <label for="">Confirm Password:</label>
                    <input type="password" class="form-text" placeholder="Confirm Password*" id="cnew" name="cnew" value=""/>
                </div>
                <div class="form-group col-md-3">
                </div>
                <div class="form-group col-md-6">
                     <input type="submit" class="btnRegister" onclick="return check()" name="changepassword"  value="Change Password"/>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock 'content' %}

{% block 'request' %}{% endblock 'request' %}

{% block 'extrajs' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
function checkold(){
    olddata=document.getElementById('opwd').value;
    old=document.getElementById('old').value;
    if(olddata != old)
    {
        swal("Opps.!!", "Old Password Not Match With Database","error")
        return false;
    }
    return true;
}
function check()
{
    old=document.getElementById('old').value;
    newp=document.getElementById('new').value;
    cnew=document.getElementById('cnew').value;
    databasecheck=checkold(old)
    conformcheck=true;
    if(newp != cnew)
    {
        swal("Opps.!!", "Confirm Password Not Match","error")
        conformcheck=false;
    }
    if (databasecheck & conformcheck){
        return true;
    }
    else{
        return false;
    }
}
    {% for msg in messages %}
        swal("", '{{msg}}', '{{msg.tags}}')
    {% endfor %}
</script>
{% endblock 'extrajs' %}

