{% load static %}
{% get_static_prefix as STATFILE %}

<footer class="footer">
	<div class="footer-body">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="footer-section">
						<h4 class="footer-section-title">About Covid Sahay</h4>
						<div class="footer-section-body">
							<p>provide facility to connect people with each other and help each other.<br>Providing free Medical resources, Blood, Plasma etc. from the people who like to donate or help others.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-section">
						<h4 class="footer-section-title">Quick Links</h4>
						<div class="footer-section-body">
							<ul class="list-links">
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'about-us' %}">About Us</a></li>
								<li><a href="{% url 'activities' %}">Activities</a></li>
								<li><a href="{% url 'gallery' %}">Gallery</a></li>
								<li><a href="{% url 'contact-us' %}">Contact Us</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer-section">
						<h4 class="footer-section-title">Contact Us</h4>
						<div class="footer-section-body">
							<p><b>Address : </b> 123, Abc, Nana Varachha Road, Surat, Gujarat, India.</p>
							<div class="footer-contacts">
								<p><b><i class="fa fa-phone"></i> Phone No. : </b> +91 98787876723 </p>
								<p><b><i class="fa fa-envelope-o"></i> Email : </b> covidsahayinfo@gmail.com </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        </div>
	<div class="bwt-footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="left-text">Copyright &copy; Covid Sahay 2021. All Rights Reserved</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!--				<div class="col-md-3">-->
<!--					<div class="footer-section">-->
<!--						<h4 class="footer-section-title">Newsletter Signup</h4>&lt;!&ndash; /.footer-section-title &ndash;&gt;-->
<!--						-->
<!--						<div class="footer-section-body">-->
<!--							<p>Select your newsletters, enter your email address, and click "Subscribe"</p>-->

<!--							<div class="subscribe">-->
<!--								<form action="?" method="post">-->
<!--									<input type="submit" value="Go" class="subscribe-btn">-->
<!--									-->
<!--									<div class="subscribe-inner">-->
<!--										<input type="email" id="mail" name="mail" value="" placeholder="Email Address" class="subscribe-field">-->
<!--									</div>&lt;!&ndash; /.subscribe-inner &ndash;&gt;-->
<!--								</form>-->
<!--							</div>&lt;!&ndash; /.subscribe &ndash;&gt;-->
<!--						</div>&lt;!&ndash; /.footer-section-body &ndash;&gt;-->
<!--					</div>&lt;!&ndash; /.footer-section &ndash;&gt;-->
<!--				</div>&lt;!&ndash; /.columns large-3 medium-12 &ndash;&gt;-->
<!--				-->