{% load static %}
{% get_static_prefix as STATFILE %}

<footer class="footer">
	<div class="footer-body">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="footer-section">
						<h4 class="footer-section-title">About Covid Sahay</h4>
						<div class="footer-section-body">
							<p>We Are Working As a Free Organization For Needy People.<br> People Can Donate Medical Resources Like Oxygen, Medicine, Blood Etc. <br>People Can Easily Get In Touch With People Who Need This Resources Immediately</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-section">
						<h4 class="footer-section-title">Quick Links</h4>
						<div class="footer-section-body">
							<ul class="list-links">
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'about-us' %}">About Us</a></li>
								<li><a href="{% url 'activities' %}">Activities</a></li>
								<li><a href="{% url 'gallery' %}">Gallery</a></li>
								<li><a href="{% url 'contact-us' %}">Contact Us</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer-section">
						<h4 class="footer-section-title">Contact Us</h4>
						<div class="footer-section-body">
							<p><b>Address : </b> 1, CTM, Ahmedabad, Gujarat, India.</p>
							<div class="footer-contacts">
								<p><b><i class="fa fa-phone"></i> Phone No. : </b><a href="tel:9586412137"> +91 9586412137</a></p>
								<p><b><i class="fa fa-envelope-o"></i> Email : </b><a href="mailto:covidsahay05@gmail.com">covidsahay05@gmail.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        </div>
	<div class="bwt-footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="left-text">Copyright &copy; Covid Sahay 2021. All Rights Reserved</div>
				</div>
			</div>
		</div>
	</div>
</footer>