{% extends 'view/base.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}
{% block 'title' %} 
<title>Covid Sahay | My Request</title>
{% endblock 'title' %}
{% block 'content' %}
<section id="inner-banner">
<div class="overlay">
<div class="container">
<div class="row">
<div class="col-sm-6"><h1>YOUR REQUEST</h1></div>
<!-- <div class="col-sm-6"><input type="text" id="searchReq" onkeyup="myFunction()" placeholder="Search for Request.."></div> -->
<div class="col-sm-6"><h6 class="breadcrumb"><a href="{% url 'index' %}">Home</a> / YOUR REQUEST</h6></div>
</div>
</div>
</div>
</section>

<div id="users">
    <div class="container">
        <div class="row myrequest">
            <div class="col-md-12">
                {% for all in Request  %}
                    {% if all.user.id == uId %}
                <div class="list-group list list-group-item">
                    <div class="col-md-7" style="margin-left:5%;margin-top:1.3%;">
                        <h4 class="list-group-item-heading name" style="margin-bottom:2%">{{all.whatFor | upper}}</h4>
						<div class="row">
							<div class="col-md-3"><label for="">DATE : </label><p class="">{{all.date |upper}}</p></div>
							<div class="col-md-3"><label for="">QUANTITY : </label><p class="">{{all.quantity |upper}}</p></div>
                            {% if all.status == 'Accepted' %}
                                <div class="col-md-3"><label for="">STATUS : </label><p class="">Admin Accepted</p></div>
                            {% elif all.status == 'DAccepted' %}
                                <div class="col-md-3"><label for="">STATUS : </label><p class="">Donor Accepted</p></div>
                            {% elif all.status == 'Due' %}
                                <div class="col-md-3"><label for="">STATUS : </label><p class="">Completed</p></div>
                            {% else %}
                                <div class="col-md-3"><label for="">STATUS : </label><p class="">{{all.status|upper}}</p></div>
                            {% endif %}
						</div>                                                    
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4" style="margin-top:1.7%;right: -20%;">
                        {% for i in Donors %}
                            {% if i.requests.id == all.id and all.status == "DAccepted" %}
                                <button type="submit" name="donor" value="View" class="btn btn-primary modal-link" data-toggle="modal" data-target="#exampleModalLong" data-name="{{ i.user.fName | title}}" data-rid="{{ i.requests.id }}" data-whatfor="{{ i.requests.whatFor }}" data-quantity="{{ i.requests.quantity }}" data-mono="{{ i.user.mono }}" data-gender="{{ i.user.gender }}" data-dob="{{ i.user.dob }}" data-bgrp="{{ i.user.bGrp }}" data-email="{{ i.user.email }}" data-add="{{ i.user.add | title }}" data-area="{{ i.user.area | title }}" data-city="{{ i.user.city }}" data-state="{{ i.user.state }}">View Donor</button>
                            {% endif %}
                         {% endfor %}
                            <br><br>
                    {% if all.status != "Due" %}
                      <form action="" method="POST">
                         {% csrf_token %}
                            <input type="hidden" name="rId" value="{{all.id}}">

                            <button type="submit" name="request" id="msg" value="Cancelled" class="btn btn-success">Cancel</button>
                        </form>
                    {% else %}
                        <h6 style="margin-left: -50%;color:red;">Your Request is expired or Completed</h6>
                    {% endif %}
                        </div>
                </div>
                <div class="clearfix"></div>
			</div>
                {% endif %}
                {% endfor %}
<!--                    <div class="text-danger text-center">No Request More Request....</div>-->
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top:15%;margin-bottom:5%">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="margin-left: 4%; color: #2f3191" class="modal-title" id="exampleModalLongTitle">DONOR DETAILS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-5%">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body">
		  <style>
			  h5{
			  	line-height: 200%;
			  	margin-left: 4%;
			  }
			  span{
			  	font-weight:normal
			  }
			  .space{
				margin-left:1%;
			  }
			  #r-email, #r-mono{
			    text-decoration: underline;
			    color: #2f3191;
			    font-weight:normal;
			  }
		  </style>
		  <h5>WHAT YOU NEED : <span id="r-whatfor"></span><span class="space">(Quantity : <span id="r-quantity"></span>)</span></h5>
		  <h5>DONOR NAME : <span id="r-name" style="margin-right:7%;"></span> GENDER : <span id="r-gender"></span></h5>
		  <h5>DATE OF BIRTH : <span id="r-dob"></span></h5>
		  <h5>BLOOD GROUP : <span id="r-bgrp"></span></h5>
		 <h5>MOBILE NUMBER : <a href="tel:7201095700" id="r-mono"></a></h5>
		  <h5>EMAIL ID : <a href="mailto:dangarmanhar@gmail.com" id="r-email"></a></h5>
		  <h5>ADDRESS : <span id="r-add"></span>,<span class="space" id="r-area"></span>,<span class="space" id="r-city"></span>,<span class="space" id="r-state"></span></h5>
              <br>
              <p style="color:red">Please give your response after you satisfied your request by clicking on <b>"Is That Help You.."</b> button</p>
	 </div>
    <div class="modal-footer">
        <input type="hidden" name="rId" id="r-rid" class="rid1" value="">
        <button type="button" class="btn btn-primary feedback" style="background: #2f3191" data-dismiss="modal" data-rid1="1">Is That Help You..</button>
	    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
  </div>
  </div>
</div>
<script>
    $('.modal-link').click(function(){
    $('#r-whatfor').html($(this).data('whatfor'));
    $('#r-quantity').html($(this).data('quantity'));

    $('#r-name').html($(this).data('name'));
    $('#r-gender').html($(this).data('gender'));
    $('#r-dob').html($(this).data('dob'));
    $('#r-bgrp').html($(this).data('bgrp'));

    $('#r-mono').html($(this).data('mono'));
    $('#r-email').html($(this).data('email'));

    $('#r-add').html($(this).data('add'));
    $('#r-area').html($(this).data('area'));
    $('#r-city').html($(this).data('city'));
    $('#r-state').html($(this).data('state'));
    var id = $(this).data('rid');
    $('#r-rid').val(id);
});

$(document).ready(function(){
  $(".feedback").click(function(){
    var id = $(this).data('rid1');
  	swal({
	  title: "Thank You For Request..!!",
	  text: "Is Donor Fulfill Your Request..!!, Then Click on Yes",
	  buttons: ["No", "Yes"],
	  dangerMode: true,
	})
	.then((yes) => {
	  if (yes) {
        console.log(id)
<!--        window.location = "{% url 'myrequest' %}";-->
	  } else {
	  }
	});
  });
});
</script>
{% endblock 'content' %}

{% block 'request' %}{% endblock 'request' %}

{% block 'extrajs' %} {% endblock 'extrajs' %}
