{% extends 'view/base.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}
{% block 'title' %} 
<title>Covid Sahay | Request</title>
{% endblock 'title' %}
{% block 'content' %} 
<section id="inner-banner">
<div class="overlay">
<div class="container">
<div class="row"> 
<div class="col-sm-6"><h1>REQUEST</h1></div>
<div class="col-sm-6">
  <h6 class="breadcrumb"><a href="{% url 'index' %}">Home</a> / Request</h6></div>
</div>
</div>
</div>
</section>

<div class="callout">
<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Change Their World And Change Yours. This changes everything.</h2>
			</div>
			<div class="col-md-6">
				<div class="callout-actions">
					<a href="{% url 'request' %}" class="button">Request Now</a>
					<span class="callout-separator">
						<span>Or</span>
					</span>
					<a href="{% url 'activities' %}" class="button">Donate Now</a>
				</div>
			</div>
		</div>
</div>
</div>


<section id="about-sec">
<div class="container">
<div class="row text-center">
<h2 style="margin-top:0;">I WISH TO MAKE A REQUEST<br>
WE NEED YOUR HELP</h2>
<form method="post" class="con-form clearfix" enctype="multipart/form-data">
<form action="" name="request" method="post" class="con-form clearfix" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="col-md-8" id="name1">
		{% for i in curr_user %}
			<input type="text" name="fName" value="{{ i.fName }} {{ i.lName }}" class="form-control" placeholder="Enter Full Name Who need it*">
		{% endfor %}
	</div>
	<div class="col-md-4" id="name2">
		{% for i in curr_user %}
			<input type="text" name="fName" value="{{ i.fName }} {{ i.lName }}" class="form-control" placeholder="Enter Full Name Who need it*">
		{% endfor %}
	</div>
	 <div class="form-group col-md-4" style="margin-top:30px">
		 <select class="form-text" name="whatFor" id="whatFor">
		  	 <option value="">Select What you need*</option>
		  	 <option value="Remdesivir">Remdesivir</option>
		     <option value="Fabiflu">Fabiflu</option>
			 <option value="Tocilizumab">Tocilizumab</option>
			 <option value="Favipiravir">Favipiravir</option>
			 <option value="Dexamethasone">Dexamethasone</option>
			 <option value="Ivermectin">Ivermectin</option>
			 <option value="Vitamin C">Vitamin C</option>
			 <option value="Zinc Sulphate">Zinc Sulphate</option>
			 <option value="Oxygen Cylinder">Oxygen Cylinder</option>
			 <option value="Oxygen Regulator">Oxygen Regulator</option>
			 <option value="Oximeter">Oximeter</option>
			 <option value="Oxygen Concentrator">Oxygen Concentrator</option>
			 <option value="Oxygen Beds">Oxygen Beds</option>
			 <option value="ICU Beds">ICU Beds</option>
			 <option value="Ventilator">Ventilator</option>
			 <option value="Home Ventilator">Home Ventilator</option>
			 <option value="Plasma">Plasma</option>
			 <option value="Blood">Blood</option>
			 <option value="Others" id="others">Others</option>
		</select>
	</div>
	<div class="form-group col-md-4" id="whatOthers">
		 <input type="text" placeholder="Enter What you need"class="form-text" name="whatOthers">
	</div>
	 <div class="form-group col-md-4" style="margin-top:30px">
		 <input type="number" placeholder="Enter Quantity*" min="1" max="50" class="form-text" name="quantity">
	</div>
	<div class="col-md-4" style="margin-top:7px">
		<span style="text-align:left;"> Adharcard* </span>
		<input type="file" name="adharcard" class="form-control" accept=".jpeg,.png,.jpg">
	</div>
	<div class="col-md-4" style="margin-top:7px">
		<span> Prescription </span>
		<input type="file" name="prescription" class="form-control" accept=".jpeg,.png,.jpg">
	</div>

	<div class="col-xs-12 submit-button">
		<input type="submit" value="Request Now" class="btn2" id="sub" style="border:none; margin: 20px 0 0 0">
	</div>
</form>
</div>
</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$('#name2').hide();
$('#whatOthers').hide();
$('#whatFor').change(function() {
    var selected = $(this).val();
    if(selected == 'Others'){
      $('#whatOthers').show();
      $('#name1').hide();
      $('#name2').show();
    }
    else{
      $('#whatOthers').hide();
      $('#name1').show();
      $('#name2').hide();
    }
});
</script>
{% endblock 'content' %}
{% block 'request' %}{% endblock 'request' %}





