{% extends 'view/base.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}
{% block 'title' %} 
<title>Covid Sahay | Request</title>
{% endblock 'title' %}
{% block 'content' %} 
<section id="inner-banner">
<div class="overlay">
<div class="container">
<div class="row"> 
<div class="col-sm-6"><h1>REQUEST</h1></div>
<div class="col-sm-6">
  <h6 class="breadcrumb"><a href="{% url 'index' %}">Home</a> / Request</h6></div>
</div>
</div>
</div>
</section>

<div class="callout">
<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Change Their World And Change Yours. This changes everything.</h2>
			</div>
			<div class="col-md-6">
				<div class="callout-actions">
					<a href="{% url 'request' %}" class="button">Request Now</a>
					<span class="callout-separator">
						<span>Or</span>
					</span>
					<a href="{% url 'activities' %}" class="button">Donate Now</a>
				</div>
			</div>
		</div>
</div>
</div>


<section id="about-sec">
<div class="container">
<div class="row text-center">
<h2 style="margin-top:0;">I WISH TO MAKE A REQUEST<br>
WE NEED YOUR HELP</h2>
<form action="" method="post" class="con-form clearfix" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="col-md-8">
		<input type="text" name="fName" value="Kashyap Kalathiya" class="form-control" placeholder="Enter Full Name Who need it*">
	</div>
	 <div class="form-group col-md-4" style="margin-top:30px">
		 <select class="form-text" name="whatFor">
		  	<option value="">Select What you need*</option>
		  	<option value="abc">abc</option>
		    <option value="xyz">xyz</option>
			<option value="mno">mno</option>
		</select>
	</div>
	 <div class="form-group col-md-4" style="margin-top:30px">
		 <select class="form-text" name="quantity">
		  	<option value="">Select Quantity*</option>
		  	<option value="1">1</option>
		    <option value="2">2</option>
			<option value="3">3</option>
		</select>
	</div>
	<div class="col-md-4" style="margin-top:7px">
		<span style="text-align:left;"> Adharcard* </span>
		<input type="file" name="adharcard" class="form-control" accept=".gif,.jpeg,.png,.jpg">
	</div>
	<div class="col-md-4" style="margin-top:7px">
		<span> Prescription </span>
		<input type="file" name="prescription" class="form-control" accept=".gif,.jpeg,.png,.jpg">
	</div>

	<div class="col-xs-12 submit-button">
		<input type="submit" value="Request Now" class="btn2" id="sub" style="border:none; margin: 20px 0 0 0">
	</div>
</form>
</div>
</div>
</section>

{% endblock 'content' %}
{% block 'request' %}{% endblock 'request' %}