body{
   background: url(../images/act-bg.jpg);
}
.panel{
   background: #fff;
}
.btn-choice1,.btn-choice2{
   font-size: 16px;
   text-transform: uppercase;
   padding-left: 20px;
}
.btn-choice1 a{
   background: #2f2f77;
   color: white;
}
.btn-choice2 a{
   background: #b3494e;
   color: white;
}

.form-control{
   padding: 25px;
   font-size: 17px;
   font-family: 'Open Sans', sans-serif;
   color: black;
}
.btn-success
{
   transition: 0.5s;
}

   .btn-success:hover, .btn-success:focus
   {
      background: white;
      border-color: #5cb85c;
      color: black;
      transition: all 0.4s;
   }

   .btn-warning
   {
      transition: 0.5s;
   }

   .btn-warning:hover, .btn-warning:focus
   {
      background: white;
      color: black;
      border-color: 2f2f77;
   }

   .panel.with-nav-tabs .nav-tabs
   {
      border-bottom: none; 
   }
   .panel.with-nav-tabs .nav-justified
   {
      margin-bottom: -4px;
   }

   .panel
   {
      margin: 7%;
   }

   .modal-header
   {
      background: #fff;
      color: #FF3838;
      text-align: center;
   }

   .input-group-addon
   {
      background-color: #b3494e;
      color: white;
      padding: 17px;
   }

   .iga1
   {
      background-color: #2f2f77;
      color: white;
   }

   .iga2
   {
      background-color: #b3494e;
      color: white;
   }

