{% extends 'Myadmin_panel/header.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}


{% block 'content' %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Change password</h2>
</div>
<form action="" class="form-cont">
  OLD PASSWORD:<input type="text" name="old" id="" class="form-control">
  NEW PASSWORD:<input type="text" name="new" id="" class="form-control">
  CONFROM PASSWORD:<input type="text" name="cnew" id="" class="form-control">
</form>  
{% endblock 'content' %}
