{% extends 'Myadmin_panel/header.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}


{% block 'content' %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Change password</h2>
</div>
<div class="myapassword">
{% for all in admin %}
            <form method="post" action="" class="col-md-12">
                {% csrf_token %}
                <div class="form-group col-md-12">
                    <label for="">Old Password:</label>
                    <input type="hidden" class="form-control" placeholder="" id="opwd" name="opwd" value="{{all.aPwd}}" />
                    <input type="password" class="form-control" id="old" placeholder="Old Password*" onchange="checkold()" name="old" value="" />
                </div>
                <div class="form-group col-md-12">
                    <label for="">New Password:</label>
                    <input type="password" class="form-control" placeholder="New Password*" id="new" name="new" value=""/>
                </div>
                <div class="form-group col-md-12">
                    <label for="">Confrom Password:</label>
                    <input type="password" class="form-control" placeholder="Conform Password*" id="cnew" name="cnew" value=""/>
                </div>
                <div class="form-group col-md-3">
                </div>
                <div class="form-group col-md-6">
                     <input type="submit" class="btn btn-success" onclick="return check()"  value="Change Password"/>
                </div>
            </form>
            {% endfor %}
</div>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
            function checkold(){
                olddata=document.getElementById('opwd').value;
                old=document.getElementById('old').value;
                if(olddata != old)
                {
                    swal("Opps.!!", "Old Password Not Match With Database","error")
                    return false;
                }
                return true;
            }
            function check()
            {
                old=document.getElementById('old').value;
                newp=document.getElementById('new').value;
                cnew=document.getElementById('cnew').value;
                databasecheck=checkold(old)
                conformcheck=true;
                if(newp != cnew)
                {
                    swal("Opps.!!", "Conform Password Not Match","error")
                    conformcheck=false;
                }
                if (databasecheck & conformcheck){
                    return true;
                }
                else{
                    return false;
                }
            
            }
                {% for msg in messages %}
                    swal("Yupp!!", '{{msg}}', '{{msg.tags}}')
                {% endfor %}
            </script>
            
{% endblock 'content' %}
