{% load static %}
{% get_static_prefix as STATFILE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | LOGIN</title>
    <link href="{{STATFILE}}css/admin_login.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12">
                    <img src="{{STATFILE}}images/flogo.png" height="80" width="200" alt="Covid Sahay">
                </div>
                <div class="col-lg-12 login-title">
                    ADMIN PANEL
                </div>
                <hr class="adminhr">
                <div class="col-lg-12 login-form">
                    <div class="col-lg-12">
                        <form method="POST" >
                            {% csrf_token %}
                            <div class="form-group adminlog">
                                <label class="form-control-label">USERNAME</label>
                                <input type="text" name="email" class="form-control">
                            </div>
                            <div class="form-group adminlog">
                                <label class="form-control-label">PASSWORD</label>
                                <input type="password" name="pwd" class="form-control">
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-12 text-danger">
                                    <p>{{ txtErr }}</p> 
                                </div>
                                <div class="col-lg-12 login-button">
                                    <input type="submit" class="btn btn-outline-danger" name="submit" value="LOGIN"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>