{% extends 'Myadmin_panel/header.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}


{% block 'content' %}
<style>
    .btnred{
        color: #fff;
        background-color: #ec1d25;
        border-color: #ec1d25;
    }
    .btnred:hover{
        color: #fff;
        background-color: #ec1d25;
        border-color: #ec1d25;
    }
    .btnblue{
        background-color: #2f3191;
        border-color: #2f3191;
    }
    .btnblue:hover{
        background-color: #2f3191;
        border-color: #2f3191;
    }
</style>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>REQUESTS</h2>
    <div>
        <input type="button" id="allrequets" onclick="showall()" class="btn btn-info btnred" value="All Request" />
    </div>
</div>

<div id="tableall" class="container hide">
  <div class="table-responsive" >
      <table class="table table-striped table-sm" id="myalltable">
        <thead>
          <tr>
            <th scope="col">REQUESTER_NAME</th>
            <th scope="col">USER_NAME</th>
            <th scope="col">whatFor</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for all in Request %}
          <tr>
            <td>{{all.name |upper}}</td>
            <td>{{all.user.fName |upper}} {{all.user.lName |upper}}</td>
            <td>{{all.whatFor |upper}}</td>
            <td>{{all.quantity |upper}}</td>
            <td>{{all.date |upper}}</td>
            <td>{{all.status |upper}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

<div id="reqErr">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for all in Request  %}
                    {% if all.status == 'pending' %}
                <div class="list-group list list-group-item">
                    <div class="col-md-10">
                        <br>
                        <h4 class="list-group-item-heading name">{{all.name |upper}}</h4>
                        <p class="list-group-item-text">{{all.whatFor |upper}}</p>

                        <input type="button" onclick="show(this.id)" id="{{all.id}}" style="margin-top:-12%;" class="btn btn-primary view btnblue" value="View">
                    </div>
                    <div class="container hide" id="div{{all.id}}">
                        <hr class="shine">
                        <div class="row">
                          <div class="col-sm-12 col-md-2">
                            <label for="">Name :</label><p class="">{{all.name |upper}}</p>
                            <!--<label for="">UserId :</label><p class="">{{all.user |upper}}</p>-->
                            <label for="">Requirement :</label><p class="">{{all.whatFor |upper}}</p>
                            <label for="">Quantity :</label><p class="">{{all.quantity |upper}}</p>
                            <label for="">Mobile no :</label><p class=""><a href="tel:{{all.user.mono}}">{{all.user.mono}}</a></p>
                              <label for="">Email id :</label><p class=""><a href="mailto:{{all.user.email}}">{{all.user.email}}</a></p>
                          </div>
                          <div class="col-sm-12 col-md-5">
                            <p class="">Adharcard:<img id="myImg" class="img-zoom" src="{{all.adharcard.url}}" height="300" width="400"/></p>
                          </div>
                          <div class="col-sm-12 col-md-5">
                            <p class="">Prescription:<img id="myImg1" class="img-zoom" src="{{all.prescription.url}}" height="300" width="400"/></p>
                          </div>
                        </div>
                        <hr class="shine">
                        <div class="inline-block text-center">
                            <form action="{% url 'CheckRequest' %}" method="POST"> 
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{all.id}}">
                                <button type="submit" name="request" value="Accepted" class="btn btn-success">Accepted</button>
                                <button type="submit" name="request" value="Rejected" class="btn btn-danger">Rejected</button>
                            </form>
                        </div>                      
                    </div>
                </div>
                <div class="clearfix"></div>
                {% endif %}
                {% endfor %}
<!--                {% ifchanged all.status %}-->
<!--                    {% if all.status != "pending" and all.status != "Due" %}-->
<!--                    <div  class="text-danger text-center">No More Request Pending....</div>-->
<!--                    {% endif %}-->
<!--                {% endifchanged %}-->
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock 'content' %}
{% block 'extrajs' %}
<script>
function show(id)
{ 
    var x = document.getElementById("div"+id);
    if (x.style.display === "block") {
        x.style.display = "none";
        document.getElementById(id).value="View";
    } else {
        x.style.display = "block";
        document.getElementById(id).value="Hide";
    }
}

function showall(){
    var btnshow=document.getElementById('allrequets');
    var x = document.getElementById('tableall');
    var reqErr = document.getElementById('reqErr');
    if (x.style.display === "block") {
    x.style.display = "none";
    reqErr.style.display="block";
    btnshow.value="All Request";
  } else {
    x.style.display = "block";
    reqErr.style.display="none";
    btnshow.value="Pending Request";
  }
}
</script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<!-- jQuery js-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- jQuery Datatable js -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<!-- Bootstrap Datatable js -->    
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready( function () {
    $('#myalltable').DataTable();
} );
</script>
{% endblock 'extrajs' %}
