{% extends 'Myadmin_panel/header.html' %}
{% load static %}
{% get_static_prefix as STATFILE %}


{% block 'content' %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>REQUESTS</h2>
</div>

<div id="users">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for all in Request  %}
                    {% if all.status == 'pending' %}
                <div class="list-group list list-group-item">
                    <div class="col-md-10">
                        <h4 class="list-group-item-heading name">{{all.name |upper}}</h4>
                        <input type="button" onclick="show(this.id)" id="{{all.id}}" class="btn btn-primary view" value="View >>">
                        <p class="list-group-item-text">{{all.date |upper}}</p>
                    </div>
                    <div class="container hide" id="div{{all.id}}">
                        <hr class="shine">
                        <div class="row">
                          <div class="col-sm-12 col-md-2">
                            <label for="">Name:</label><p class="">{{all.name |upper}}</p>
                            <label for="">UserId:</label><p class="">{{all.user |upper}}</p>
                            <label for="">Requirement:</label><p class="">{{all.whatFor |upper}}</p>
                            <label for="">Quantity:</label><p class="">{{all.quantity |upper}}</p>
                            <label for="">Date:</label><p class="">{{all.date |upper}}</p>
                            <label for="">Mobile no:</label><p class="">{{all.whatFor |upper}}</p>
                          </div>
                          <div class="col-sm-12 col-md-5">
                            <p class="">Adharcard:<img id="myImg" class="img-zoom" src="http://127.0.0.1:8000/{{all.adharcard}}" height="300" width="400"/></p>
                          </div>
                          <div class="col-sm-12 col-md-5">
                            <p class="">Prescription:<img id="myImg1" class="img-zoom" src="http://127.0.0.1:8000/{{all.prescription}}" height="300" width="400"/></p>
                          </div>
                        </div>
                        <hr class="shine">
                        <div class="inline-block text-center">
                            <form action="{% url 'CheckRequest' %}" method="POST"> 
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{all.id}}">
                                <button type="submit" name="request" value="Accepted" class="btn btn-success">Accepted</button>
                                <button type="submit" name="request" value="Rejected" class="btn btn-danger">Rejected</button>
                            </form>
                        </div>                      
                    </div>
                </div>
                <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
                    <div class="text-danger text-center">No Request Pending....</div>
            </div>
        </div>
    </div>
</div>

{% endblock 'content' %}
{% block 'extrajs' %}
<script>
function show(id)
{ 
    var x = document.getElementById("div"+id);
    if (x.style.display === "block") {
        x.style.display = "none";
        document.getElementById(id).value="View >>";
    } else {
        x.style.display = "block";
        document.getElementById(id).value="<< Hide";
    }
}
</script>
{% endblock 'extrajs' %}
